<!-- http://getbootstrap.com/examples/sticky-footer/ -->
<!-- Custom styles for this template -->
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-md-offset-2">
                <h2>First2</h2>
                <p class="text-muted">Place sticky footer content here.</p>
            </div>
            <div class="col-md-3">
                <h2>Second</h2>
                <p class="text-muted">Place sticky footer content here.</p>
            </div>
            <div class="col-md-3">
                <h2>Third</h2>
                <p class="text-muted">Place sticky footer content here.</p>
            </div>
        </div>
    </div>
</footer>